.Rules {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__text{
    margin-left: 3rem;
  }
  &__img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-width: 200px;
    height: 60vmin;
    margin-top: var(--margin-medium);
    @media screen and (min-width:767px) {
      // width: 80vw;
      height: 35vmin;
    }
    &-img {
      display: block;
      min-width: 60vw;
      max-width: 80vw;
      min-height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    margin: var(--margin-medium);
    color: var(--font-color);
    margin-top: 10vh;
    margin-bottom: 11vh;
    @media screen and (min-width:767px) {
      margin: 0;
      max-width: 80vw;
      margin-left: 12vw;
    }
    &__intro{
      display: flex;
      justify-content: center;
    }

    // h1 {
    //   font-size: var(--fontsize-h1);
    //   font-weight: var(--fontweight-bold);
    //   margin: var(--margin-medium) 0;
    // }

    // h2 {
    //   font-size: var(--fontsize-h2);
    //   font-weight: var(--fontweight-bold);
    //   margin-top: var(--margin-medium);
    // }

    h3 {
      font-size: var(--fontsize-h3);
      // margin-top: var(--margin-medium);
    }

    p,
    ul {
      margin: var(--margin-medium);
      font-size: var(--fontsize-p);
      list-style-type: circle;
      line-height: var(--line-height-large);
    }

    strong {
      font-weight: var(--fontweight-medium);
    }
  }
}

.endGame {
  font-weight: var(--fontweight-bold);
}

.separator {
  background-color: var(--primary);
  border-radius: 2px;
  height: 2px;
  margin: var(--margin-medium) auto;
  width: 100%;
}



.rules, .intro {
  display: flex;
  flex-direction: column;
  &__1,
  &__2 {
    background-color: var(--light-gray);
    border-radius: var(--border-radius);
    @media screen and (min-width:767px) {
      width: 50%;
      margin: var(--margin-medium);
    }
    &__rule, &__intro{
      text-align: justify;
      @media screen and (min-width:767px) {
        margin: var(--margin-medium);
      }
    }
  }

  @media screen and (min-width:767px) {
    flex-direction: row;
    justify-content: space-between;
  }
}