.Team{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  &__content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 80vh;
    margin: 10vh 5vw;
    h1{
      font-size: var(--fontsize-big);
      font-weight: var(--fontweight-bold);
      margin: var(--margin-medium) 0;
      text-decoration: underline;
      color: var(--font-color);
    }
  }
}