@import '../../utils/variables';

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--color-btn);
  color: var(--font-color-rev);
  line-height: 24px;
  padding: 0 10px;
  border-radius: var(--border-radius);
  user-select: none;
  margin: var(--margin-medium);
  height: var(--height-btn-regular);
  &__link{
    color: inherit;
    font-size: var(--fontsize-p);
  }
  &__icon{
    font-size: var(--fontsize-big);
    margin: var(--margin-medium);
  }
}

.small {
  font-size: var(--fontsize-p);
}

.medium {
  font-size: var(--fontsize-h3);
}

.big {
  font-size: var(--fontsize-h2);
}
