.bug{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  &__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 70vh;
    width: 90vw;
    margin: 10vh auto;
    text-align: center;
    line-height: var(--line-height-large);
    h1{
      font-size: var(--fontsize-h1);
    }
    h2{
      font-size: var(--fontsize-h2);
    }
  }
}