.Dashboard{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  &__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 70vh;
    width: 90vw;
    margin: auto;
  }
  &__title{
    font-size: var(--fontsize-h1);
    font-weight: var(--fontweight-bold);
    margin-left: var(--margin-medium);
    margin-top: var(--margin-medium);
    color: var(--font-color);
  }
  &__teams{
    width: 100%;
    margin-top: 2vh;
    a{
      margin: 0;
      margin-top: var(--margin-medium);
    }
  }
  &__startGame{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
      margin: 0;
      margin-top: var(--margin-medium);
      width: 100%;
    }
  }
}
