.skittle{
  background-color: var(--color-background-elt);
  border-radius: 10rem;
  border: solid 4px var(--tertiary);
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fontsize-h1);
  font-weight: var(--fontweight-bold);
  font-family: var(--font-text);
  color: var(--font-color);
  box-shadow: 3px 3px 5px #7e5f33;
}
.selected{
  background-color: var(--light-overlay);
  border: solid 4px var(--secondary);
  box-shadow: 2px 2px 2px #7e5f33;
}