.modale{
  position: absolute;
  top: 25vh;
  left: 5vw;
  min-height: 20vh;
  width: 90vw;
  background-color: var(--primary);
  z-index: 3;
  border-radius: var(--border-radius);
  border: solid 2px var(--black);
  &__background{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--dark-overlay);
    z-index: 0;
  }
  &__hidden{
    display: none;
  }
  &__close{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
   &__icon{
     font-size: var(--fontsize-h1);
    margin: var(--margin-small);
   }
  }
  &__text{
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: var(--margin-small);
    h2{
      text-transform: capitalize;
    }
    p{
      font-size: var(--fontsize-h2);
      font-weight: var(--fontweight-bold);
    }
  }
}

.image{
  max-height: 25vh;
  max-width: 25vh;
}