@import '../../utils/variables';

.App {
  text-align: center;
}

#App {
  font-family: var(--font-text);
  font-weight: var(--fontweight-light);
  background-color: var(--color-background);
  color: var(--font-color);
}

a {
  text-decoration: none;
}
.hidden{
  display: none;
}

