@import '../../utils/variables';

.App {
  text-align: center;
}

#App {
  min-height: 100vh;
  font-family: var(--font-text);
  font-weight: var(--fontweight-light);
  background: var(--color-background);
  background-image: var(--background-app);
  color: var(--font-color);
}

a {
  text-decoration: none;
}
.hidden{
  display: none;
}

/* COOKIES */
.overwrite {
  pointer-events: none;
  opacity: 0
}
