.teams{
  display: flex;
  flex-direction: column;
  margin-top: var(--margin-medium);
  width: 100%;
}

.team__playing, .team{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  width: 100%;
  margin: var(--margin-small) auto;
  padding: var(--margin-small);
  background-color: var(--light-blue);
  border-radius: var(--border-radius);
  h2{
    font-size: var(--fontsize-h2);
    color: var(--secondary);
    font-weight: var(--fontweight-bold);
    text-transform: capitalize; 
  }
  &__name{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: var(--margin-small);

  }
  &__datas{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-pts{
      font-weight: var(--fontweight-bold);
      margin-right: var(--margin-small);
    }
    &-score{
      width: 50%;
      margin-left: var(--margin-medium);
      font-size: var(--fontsize-h3);
      color: var(--secondary);
      display: flex;
      justify-content: flex-end;
    } 
    &-fails{
      width: 50%;
      display: flex;
      justify-content: flex-end;
      margin-right: var(--margin-small);
      img{
        margin-left: 3px;
      }
    }
  }
}

.team{
  height: 8vh;
  &__delete{
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-red);
    border-radius: var(--border-radius);
    color: var(--red);
  }
}