.teams{
  display: flex;
  flex-direction: column;
  margin-top: var(--margin-medium);
}

.team{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  margin: var(--margin-small) var(--margin-medium);
  padding: var(--margin-small);
  background-color: var(--light-overlay);
  border-radius: var(--border-radius-small);
  h2{
    font-size: larger;
    font-weight: var(--fontweight-bold);
  }
  &__name{
    width: 50%;
    height: 100%;
    border-right: solid 1px black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: var(--margin-medium);
  }
  &__datas{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-pts{
      font-weight: var(--fontweight-bold);
      margin-right: var(--margin-small);
    }
    &-score{
      width: 50%;
      margin-left: var(--margin-medium);

      display: flex;
      justify-content: flex-end;
    } 
    &-fails{
      width: 50%;
      display: flex;
      justify-content: flex-end;
      margin-right: var(--margin-small);
    }
  }
}