.Home{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  &__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    width: 90vw;
    margin: 10vh auto;
    @media screen and (min-width:767px) {
     flex-direction: row;
     margin-left: 14vw;
    }
    &__text{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      h1{
        font-size: var(--fontsize-h1);
        font-weight: var(--fontweight-bold);
        margin: var(--margin-medium);
        text-align: center;
        strong{
          font-family: var(--font-title);
        }
      }
      h2{
        text-align: center;
        margin: var(--margin-medium);
        line-height: var(--line-height-large);
        font-size: var(--fontsize-h2);
        font-weight: var(--fontweight-bold);
      }
    }
    &__links{
      background-color: var(--tertiary);
      padding: var(--margin-small);
      border-radius: var(--border-radius);
      line-height: 3rem;
      &-list{
        // list-style: square inside;
        // text-align: center;
        li a{
          color: var(--font-color);
          margin-left: var(--margin-small);
        }
      }
      h3{
        font-size: var(--fontsize-h3);
        font-weight: var(--fontweight-bold);
        text-decoration: underline;
      }
    }
  }
  &__btn{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: var(--width-btn-medium);
    height: var(--height-btn-big);
    font-size: var(--fontsize-h2);
    @media screen and(min-width: 765px) {
      width: 15vmax;
      height: 5vh;
    }
  }
}


.bottom__container{
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  @media screen and(min-width: 765px) {
    margin: var(--margin-medium);
  }
}

