@import '../../utils/variables';

.logo {
  font-family: var(--font-title);
  font-size: var(--fontsize-big);
  margin-left: var(--margin-medium);
  height: 40px;
  background: transparent;
  border: none;
  color: inherit;
  z-index: 1;
  &__link{
    color: var(--white);
  }
}