.Skittles{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 80vh;
    margin-top: 10vh;
    margin-bottom: 11vh;
    h1{
      text-align: center;
      font-size: var(--fontsize-h2);
      font-weight: var(--fontweight-bold);
      margin: var(--margin-medium);
      // margin-top: var(--margin-medium);
      color: var(--font-color);
    }
    &__content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: start;
      // margin-top: var(--margin-medium);
      &__imgContainer{
        @media screen and (min-width:767px) {
          width: 40vw;
          height: 70vmin;
        }
        width: 100vw;
        min-width: 200px;
        height: 85vmin;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: var(--margin-medium);
        &-img {
          display: block;
          min-width: 100%;
          min-height: 100%;
          object-fit: cover;
          object-position: center;
        }
  
      }
    }
  }
  &__back{
    text-decoration: none;
    color: var(--font-color);
    font-weight: var(--fontweight-bold);
    background-color: var(--tertiary);
    padding: var(--margin-small);
    border-radius: var(--border-radius);
    margin: var(--margin-medium) 0;
    text-align: center;
  }
}