.TeamForm{
  width: 100%;
  display: flex;
  flex-direction: column;
  h3{
    font-weight: var(--fontweight-medium);
  }
  h2{
    font-size: var(--fontsize-big);
    font-weight: var(--fontweight-medium);
    text-transform: capitalize; 
  }
  &__teamName__validated{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__teamName__unvalidated{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    &__row{
      display: flex;
      align-items: center;
    }
    input{
      height: var(--height-btn-small);
      font-size: var(--fontsize-medium);
      font-family: var(--font-text);
      font-weight: var(--fontweight-medium);
      margin: var(--margin-medium);
      margin-left: 0;
      border-radius: var(--border-radius-tiny);
    }
  }
  &__player{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.btn-box{
  display: flex;
  justify-content: center;
  align-items: center;
}

.addPlayer{
  display: flex;
  &__form{
    margin-top: var(--margin-medium);
    background-color: var(--color-background-rev);
    padding: var(--margin-medium);
    border-radius: var(--border-radius-small);
    h3{
      font-weight: var(--fontweight-medium);
    }
  }
  &__input{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--margin-medium);
    margin-left: 0;

    input{
      margin-right: var(--margin-medium);
      height: var(--height-btn-tiny);
      font-size: var(--fontsize-small);
      font-family: var(--font-text);
      font-weight: var(--fontweight-light);
      border-radius: var(--border-radius-tiny);
      width: var(--width-btn-small);
    }
  }
}
.playerName{
  strong{
    font-size: var(--fontsize-small);
    font-weight: var(--fontweight-medium);
    text-transform: capitalize; 
  }
}
.inputBig{
  width: var(--width-btn-big);
}
.inputSmall{
  width: var(--width-btn-medium);
}

.teamForm__btn{
  display:inline-block;
  padding:0.7em 1.4em;
  margin:0 0.3em 0.3em 0;

  box-sizing: border-box;
  text-decoration:none;


  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  text-align:center;
  position:relative;
  &:active{
    top:0.1em;
  }
  @media all and (max-width:30em){
    display:block;
    margin:0.4em auto;
  }
}
.teamForm__btn{
  display:inline-block;
  padding:0.7em 1.7em;
  margin:0 0.3em 0.3em 0;
  border-radius:var(--border-radius-tiny);
  box-sizing: border-box;
  text-decoration:none;
  font-family:var(--font-text);
  font-weight:var(--fontweight-medium);
  color: var(--white);
  background-color: var(--primary);
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  text-align:center;
  position:relative;
    &:active{
    box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
    }
    @media all and (max-width:30em){
    display:block;
    margin:0.4em auto;
    }
  }


.playerBtn{
  margin: var(--margin-small) 0;
}
.teamBtn{
  height: var(--height-btn-medium);
  // width: var(--width-btn-medium);
  padding: 0 .7em;
  font-size: var(--fontsize-medium) ;
}