.header{
  width: 100%;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  &__menu{
    font-family: var(--font-text);
    font-size: var(--fontsize-small);
    display: flex;
    justify-content: space-between;
  }
}