

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Light.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Nixie One';
  src: url('./fonts/NixieOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
}

:root {

  /* COLOR */
  --black: #121212;
  --white: #F6F6F7;
  --primary: #0a3d62; 
  --secondary: #3c6382;
  --tertiary: #60a3bc;

  --dark-gray: #202020;
  --light-gray: #cccccc;

  --dark-overlay: rgba(0, 0, 0, 0.8);
  --light-overlay: rgba(140, 140, 140, 0.8);

  --color-cursor: #6e6e6e;
  
  /* FONT */
  --font-title: 'Nixie One', sans-serif;
  --font-text: 'Roboto', sans-serif;

  --fontsize-big: 2rem;
  --fontsize-medium: 1.3rem;
  --fontsize-small: 1rem;

  --fontweight-light: 500;
  --fontweight-medium: 700;
  --fontweight-bold: 900;

  --line-height-small: .5em;
  --line-height-large: 35px;

  /* Buttons */

  --width-btn-small: 125px;
  --width-btn-medium: 200px;
  --width-btn-big: 300px;

  --height-btn-tiny: 20px;
  --height-btn-small: 35px;
  --height-btn-medium: 50px;
  --height-btn-big: 100px;

  --box-shadow-light: 0 4px 6px -1px rgba(0, 0, 0, .6), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --box-shadow-dark: 0 4px 6px -1px rgba(150, 150, 150, .6), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

  /* OTHER */
  --border-radius-tiny: .3rem;
  --border-radius-small: .5rem;
  --border-radius-medium: 1rem;
  --border-radius-big: 3rem;

  --transition-short: 0.3s;
  --transition-long: 0.5s;

  --margin-small: 5px;
  --margin-medium: 15px;
  --margin-large: 50px;

  --box-shadow: #f2f2f2

}


.theme-light {
  --color-background: var(--white);
  --color-background-rev: var(--black);
  // --background-app: url("../Assets/img/topography-light.svg");
  
  --font-color: var(--black);
  --font-color-rev: var(--white);
  --hover-color: var(--secondary);

  --color-card-background: var(--light-gray);
  --color-country-row: var(--white);
  --color-card-overlay: var(--light-overlay);

  --color-cursor: var(--font-color);

  --skelton-background: #fff;
  --skeleton-font: var(--color-card-background);
  --skeleton-lightning: rgb(255, 255, 255, 0.5);

  --box-shadow: var(--box-shadow-light);

}
.theme-dark {
  --color-background: var(--black);
  --color-background-rev: var(--white);
  // --background-app: url("../Assets/img/topography-dark.svg");

  --font-color: var(--white);
  --font-color-rev: var(--black);
  --hover-color: var(--tertiary);
  
  --color-card-background: var(--black);
  --color-country-row: var(--dark-gray);
  --color-card-overlay: var(--dark-overlay);

  --color-btn: var(--white);

  --color-cursor: var(--font-color);

  --skelton-background: var(--dark-gray);
  --skeleton-font: var(--color-card-background);
  --skeleton-lightning: rgba(102, 102, 102, 0.5);

  --box-shadow: var(--box-shadow-dark);
}

