
.footer {
  text-align: center;
  padding: 0 0 20px;
  color: var(--font-color);
  font-size: 12px;
  margin-top: 35px;
}

.footer p {
  text-decoration: underline;
  display: inline;
  padding: 5px 10px;   
  cursor: pointer;
}