.Game{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__content{
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    margin-top: 10vh;
    margin-bottom: 11vh;
    &__body{
      z-index: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 80vh;
    }
    h2{
      font-size: var(--fontsize-big);
      text-transform: capitalize; 
      font-weight: var(--fontweight-bold);
      color: var(--white);
    }
  }
}

.Game__btn{
  height: var(--height-btn-big);
}

.navBtn{
  display: flex;
}