.select{
  height: 50vh;
  margin: var(--margin-medium) 0;
  padding: var(--margin-small);
  text-align: center;
  background: var(--primary);
  border-radius: var(--border-radius);
  box-shadow: 2px 3px 5px #9b9b9b;
  display: flex;
  flex-direction: column;
  align-items: center;
 &__middleTop, &__bottom, &__middleBottom{
    display: flex;
    justify-content: center;
    margin-top: -12px;
  }
  &__top{
    display: flex;
    justify-content: center;
  }
  &__text{
    margin-top: var(--margin-small);
  }
}